.skills {
    padding: 8rem 0;
    color: var(--secondary-font-color);
    text-align: center;

    &__header {
        h2 {
            @include sectionHeadingTxt;
            &:after {
                content: "";
                display: block;
                width: 66px;
                height: 5px;
                background-color: #dfe8ed;
                margin: 20px auto 24px;
            }
            
        }
        .description {
            @include desc;
            margin-bottom:5rem;
        }
    }

    &__offer {
        font-size: 1.6rem;
        img {
            margin-bottom: 1.6rem;
        }
        h3 {
            text-transform: uppercase;
        }
    }
}

