footer {
    background-color: var(--footer-bg);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem 0;

    ul {
       text-align: center;
    }
   
    li {
        flex: 1;
    }
    a {
        color: var( --primary-font-color);
    }
    a:hover {
        color: #30bae7;
        text-decoration: none;
    }
}