:root {
    --hero-bg: #87509c;
    --service-bg: #17c2a4;
    --team-bg: #e7f1f8;
    --skills-bg: #fff;
    --portfolio-bg: #ffdd99;
    --testimonial-bg: #d74680;
    --contact-bg: #3c5499;
    --footer-bg: #344b8e;

    --primary-font-color: var(--skills-bg);
    --secondary-font-color: #3c4761;
    --tertiary-font-color: #393939;

}